/* Adicionando estilos e animações */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  color: #0070f3;
}

.description {  
  animation: fadeInUp 0.5s forwards;
  text-align: center;
  margin: 1.5rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.section {
  margin: 3rem 0;
  width: 100%;
}

.sectionTitle {
  animation: fadeInUp 1s;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  align-items: center;
}
.footer p {
  margin: 0.5rem 0;
}

.footerLinks {
  display: flex;
  gap: 1rem;
}

.link {
  color: #0070f3;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.experienceGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.experienceCardRight {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  max-width: 600px;
  transition: transform 0.2s;
  align-items: center;
  font-family: 'Inter', sans-serif;
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}

.experienceCardRight:hover {
  transform: translateY(-10px);
}

.experienceCardHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.experienceCardLogoRight {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.experienceCardBody {
  flex-grow: 1;
}

.experienceCardTitle {
  font-size: 1.2em;
  font-weight: bold;
}

.experienceCardCompany {
  font-size: 1em;
  font-weight: 600;
}

.experienceCardPeriod,
.experienceCardLocation {
  font-size: 0.9em;
  color: #555;
}

.experienceCardDescription {
  margin-top: 10px;
  font-size: 0.9em;
  line-height: 1.4;
}

.experienceCardCompetencies {
  margin-top: 10px;
  font-size: 0.8em;
  color: #333;
  display: flex;
  flex-wrap: wrap;
}

.experienceCardCompetency {
  background: #f1f1f1;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 0.8em;
  color: #555;
}

.card {
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 300px;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: 'Inter', sans-serif;
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.animatedTitle {
  animation: fadeInUp 0.5s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 6rem;
  line-height: 6rem; 
  letter-spacing: -0.5rem;
  color: var(--white);
}

.animatedTitle span {
  padding: 0 0.67rem;
  filter: brightness(0.75) invert(1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorCycle 10s ease-in-out infinite;
}

.animatedTitle span:nth-child(1) {
  background-image: linear-gradient(90deg, #00aaff, #0044cc);
}

.animatedTitle span:nth-child(2) {
  background-image: linear-gradient(90deg, #00aaff, #0044cc);
  animation-delay: 3.33s;
}

.animatedTitle span:nth-child(3) {
  background-image: linear-gradient(90deg, #00aaff, #0044cc);
  animation-delay: 6.66s;
}

@keyframes colorCycle {
  0% { 
    filter: brightness(0.75) invert(1);
  }
  11%{
    filter: none;
  }
  33%{
    filter: none;
  }
  55%{
    filter: brightness(0.75) invert(1);
  }
}