@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mediaWrapper {
  margin-bottom: 1rem;
}

.cardImage {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.cardVideo {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.cardTitle {
  font-size: 1.2em;
  margin: 0.5rem 0;
}

.cardDescription {
  font-size: 1em;
  color: #555;
}
